.bonelessrc.json

deps/cef_binary*
deps/cef-sys/cef_binary*
local/
dist/
build/

# Rust
target/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# macOS
.DS_Store
._.*

# .NET
obj/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
grebuloff*.log

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
