.container {
    /* placeholder for testing */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    font-size: 1.5em;
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    50% {
        transform: rotate(180deg);
        font-size: 3em;
    }

    100% {
        transform: rotate(360deg);
        font-size: 1.5em;
    }
}